body {
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  justify-content: center;
  align-items: center;
}

aside {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
